<!DOCTYPE html>
<form method="POST" action="">
	<br>
		<div>
		Source <input type="text" name="source" placeholder="Your Source...." />
		</div>
	</br>
	<br>
	<div>
		Destination <input type="text" name="destination" placeholder="Your destination...."/>
	</div>
	</br>
	<br>
	<div>
		Starting time <input type="date" name="start"/> <input type="time" name="starttime"/>
	</div>
	</br>
	<br>
	<div>
		Reaching time <input type="date" name="stop"/> <input type="time" name="stoptime"/>
	</div>
	</br>
	<br>
	<div>
		No of Vacancies <input type="number" name="vacancies" placeholder="No of Vacancies...."/>
	</div>
	</br>
	<br>
	<div>
		Fare <input type="number" name="fare" placeholder="Fare...."/>
	</div>
	</br>
	<br>
	<div>
		Contact Details <input type="text" name="contact" placeholder="Your Contact Details....">
	</div>
	</br>
	<br>
	<div>
		<input type="submit" value="POST">
	</div>
	</br>
</form>


<div>
	<a href="{{url_for('my_cab_shares')}}">MY CAB SHARES</a>
</div>
<div>
	<a href="{{url_for('cab_search')}}">CAB SEARCH</a>
</div>