<!DOCTYPE html>
<form method="POST" action="">
<div>
	PRODUCT NAME <input type="text" name="name" placeholder="Product name ....">
</div>
<div>
	DETAILS <input type="text" name="details" placeholder="Details od the product....">
</div>
<div>
	CONTACT DETAILS <input type="text" name="contact" placeholder="Contact details....">
</div>
<div>
	CITY <input type="text" name="city" placeholder="City....">
</div>
<div>
	PRICE <input type="number" name="price" placeholder="PRICE....">
</div>
<div>
	<select id="reed" name= "category" method="GET" action="">

    	<option selected hidden>CATEGORY</option>
    	<option value= "Daily Products">Daily Products</option>
    	<option value= "Electronics">Electronics</option>
    	<option value= "Furniture">Furniture</option>
    	<option value= "Books">Books</option>
    	<option value= "Vehicles">Vehicles</option>
    	<option value= "Others">Others</option>

	</select>
</div>
</form>