<!DOCTYPE html>
<form method="POST" action="">
	<div>
		Name            <input type="text" name="name" placeholder="NAME..." />
	</div>
	<div>
		Username        <input type="text" name="username" placeholder="USERNAME..." />
	</div>
	<div>
		Email           <input type="text" name="email" placeholder="EMAIL..." />
	</div>
	<div>
		Password        <input type="password" name="password" placeholder="PASSWORD..." />
	</div>
	<div>
		Repeat-Password <input type="password" name="repeatpass" placeholder="REPEAT-PASSWORD..." />
	</div>
	<div>
		<input type="submit" value="REGISTER">
	</div>
</form>
<div>
		<br>
		Already have an account ?<br><a href="index.html">SIGN IN</a></br>
	    </br>
</div>